
<nav class="navbar navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Notification</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarText">
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item">
			  <a class="nav-link"  routerLink="/activemq" routerLinkActive="active">ActiveMQ(JMS)</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link"  routerLink="/websocket" routerLinkActive="active">Websocket -Push Notification</a>
			</li>
		  </ul>
		</div>
</nav>
